<% content_for :title, " - Docstring Discussion - #{@function.namespace.name}/#{@function.name}" %>
<div class="container_16">
  <div class="grid_12 prefix_2 suffix_2">
    <%= link_to "<< back to #{@function.namespace.name}/#{@function.name}", @function.link_opts %>
    <% if @function.doc %>
  	<div class="doc">
  		<a class="internal_nav scroll" href="#doc" name="doc"></a>
  		<div class="content"><%= @function.doc.gsub("\n", "<br />").gsub(/http:\/\/[a-zA-Z0-9-.\/?%&=:@;_#]*/){|s| '<a href="' + s + '">' + s + '</a>' } if @function.doc %><br />
  		</div>
  		<div class="copyright_license">
  			<%= @function.library.copyright %>

  			<%= (@function.library.license || "See <a href='#{@function.library.site_url}'>#{@function.library.site_url}</a> for copyright and license details.")%>
  		</div>
  	</div>
  	<% else %>
  	<div class="doc">
  	  <div class="content empty_docstring">
  	  No docstring for <%= @function.namespace.name %>/<%= @function.name %>.
  	  </div>
  	</div>
  	<% end %>
  	
  </div>
</div>