<div class="container_16">
  <div class="grid_16">

    <h3>Recent Docstring Comments</h3>

    <% @dcs.each do |dc| %>
      <div class="docstring_comment_summary">
        <div class="var">
          Comment on 
          <%= link_to "#{dc.function.namespace.name}/#{dc.function.name}",
              :action => 'view',
              :id => dc.function.id,
              :anchor => "docstring_comment_#{dc.id}" %>
          by
          <span class="">
            <%= link_to dc.user.login, :controller => 'user', :action => 'profile', :login => dc.user.login %>
          </span>

          <span class="timestamp">
            <%= time_ago_or_time_stamp(dc.updated_at) %>
          </span>
          <!-- - <%= pluralize(dc.function.docstring_comments.size, 'comment') %> total -->
        </div>
        <div class="body">
          <%= image_tag 'left_quote_12x12.png' %>

            <%= dc.body.gsub("\n", " ").gsub(/<[^>]*>/, " ")[0, 150].strip %><%= (dc.body.size > 150 ? "..." : "") %>

        </div>
      </div>
    <% end %>
    
  </div>
</div>
