<% content_for :title, " - Docstring Discussion - #{@function.namespace.name}/#{@function.name}" %>

<script type"text/javascript">
  $(document).ready(function() {
    CD.DocstringDiscussion.init()
  })
  
</script>
<div class="docstring_discussion">
  <div class="container_16">
    <div class="grid_12 prefix_2 suffix_2">
      <%= link_to "<< back to #{@function.namespace.name}/#{@function.name}", @function.link_opts %>
      <h2>Docstring discussion for version <span class="highlight"><%= @function.library.version %></span> of <%= @function.namespace.name %>/<%= @function.name %>.</h2>
      <% if @function.doc %>
        <div class="doc">
          <a class="internal_nav scroll" href="#doc" name="doc"></a>
          <div class="content"><%= @function.doc.gsub("\n", "<br />").gsub(/http:\/\/[a-zA-Z0-9-.\/?%&=:@;_#]*/){|s| '<a href="' + s + '">' + s + '</a>' } if @function.doc %><br />
          </div>
          <div class="copyright_license">
            <%= @function.library.copyright %>

            <%= (@function.library.license || "See <a href='#{@function.library.site_url}'>#{@function.library.site_url}</a> for copyright and license details.")%>
          </div>
        </div>
      <% else %>
        <div class="doc">
          <div class="content empty_docstring">
            No docstring for <%= @function.namespace.name %>/<%= @function.name %>.
          </div>
        </div>
      <% end %>
      <div class="docstring_comments">
        <!-- <div class="keep_me_updated"> -->
        <!--   <input name="keep_me_updated" type="checkbox"> -->
        <!--   <label for="keep_me_updated"> -->
        <!--     Notify me of updates to this conversation. -->
        <!--   </label> -->
        <!--   <div style="font-size: 11px">We'll send you a short email when somebody adds or edits a comment on this var's docstring.</div> -->
        <!-- </div> -->

        <ul class="docstring_comments_list">
          <% @function.docstring_comments.each do |dc| %>
	    <li class="docstring_comment">
              <div class="docstring_comment_header">
                <div class="author">
                  <img src="<%= grav_url_for(dc.user.email, 25) %>" />
                  <span class="author_nickname">
                    <%= link_to dc.user.login, :controller => 'user', :action => 'profile', :login => dc.user.login %>
                  </span>
                </div>
                <div class="controls">
                  <a class="anchor" href="#docstring_comment_<%= dc.id %>" name="docstring_comment_<%= dc.id %>">link</a>
                  <% if dc.user == current_user %>
                    |
                    <a href="">edit</a>
                    |
                    <%= link_to 'delete', :action => "delete", :id => dc.id %>
                  <% end %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="docstring_comment_body">
                <%= RDiscount.new(dc.body).to_html %>
              </div>
              
              <div class="docstring_comment_footer">
                Posted <%= time_ago_or_time_stamp(dc.created_at)%>.
                <% if dc.created_at != dc.updated_at %>
		  Last edited <%= dc.updated_at %>
		<% end%>
              </div>
            </li>
	  <% end %>
        </ul>
        <div class="edit_comment">
          <h3>What&apos;s your suggestion?</h3>
          <ul>
            <li>Be specific about <em>why</em> you feel the docstring for this var needs work. Is it confusing? Is it wrong? Why?</li>
            <li>Suggestions and comments only, please. Take a look at the <a href="http://clojure.org/contributing">contributing overview</a> if you'd like to submit updated copy.</li>
          </ul>
          <% if current_user_session %>
            <div class="new_comment docstring_comment">
              <div class="docstring_comment_header">
                <div class="author">
                  <img src="<%= grav_url_for(current_user.email, 25) %>" />
                  <span class="author_nickname">
                    <%= link_to current_user.login, :controller => 'user', :action => 'profile', :login => current_user.login %>
                  </span>
                </div>
                <div class="clear"></div>
              </div>

              <div class="docstring_comment_body">
                <% form_for :docstring_comment, @docstring_comment do |f| %>
	          Comment <span class="instructions">(markdown allowed, code in &lt;pre /&gt;)</span><br />
                  <%= f.text_area :body, :class=> 'textarea' %>
                  <div style="text-align: right">
                    <%= f.submit 'Add Comment', :class => 'comment_submit' %>
                    <div class="clear"></div>
                  </div>
                  <input type="hidden" name="update_comment" value="true" />
                  <input type="hidden" name="comment_id" value="-1" />
                  <fieldset class="live_preview">
                    <legend>Live Preview</legend>
                    <div class="preview"></div>
                  </fieldset>
	        <% end %>
              </div>
              
            </div>
          <% else %>
            <br />
            <h4>Log in to leave a comment.</h4>
          <% end %>
        </div>
      </div>
    </div>
  </div>
